@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 3px; /* thinner width */
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}